<div class="flex-row justify-start items-center" mat-dialog-title>
  <h2 class="headline m-0 flex-1">Cambiar la contraseña</h2>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-dialog-content class="py-3">

  <div class="py-3 px-1">
    <h4 class="body-2 text-secondary m-0">{{ textForm }}</h4>
  </div>

  <div [formGroup]="form" class="p-1 flex-col">
    <div class="flex-col">
      <mat-form-field class="pb-2 flex-grow" *ngIf="isAdmin === false">
        <mat-label>Contraseña actual</mat-label>
        <input formControlName="current_password" matInput [type]="inputType1" autocomplete="disabled">
        <button [disabled]="loading" (click)="manageIconPassword(1)" mat-icon-button matSuffix
          [matTooltip]="(inputType1 === 'text') ? 'Ocultar contraseña' : 'Ver contraseña'" type="button">
          <mat-icon @fadeInUp *ngIf="visible1" svgIcon="mat:visibility"></mat-icon>
          <mat-icon @fadeInUp *ngIf="!visible1" svgIcon="mat:visibility_off"></mat-icon>
        </button>
        <mat-error>
          <ng-container *ngFor="let error of errors(currentPassword)">
            {{ formErrors[error] }}<br>
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="pb-2 flex-grow">
        <mat-label>Nueva contraseña</mat-label>
        <input formControlName="new_password" matInput [type]="inputType2" autocomplete="disabled">
        <button [disabled]="loading" (click)="manageIconPassword(2)" mat-icon-button matSuffix
          [matTooltip]="(inputType2 === 'text') ? 'Ocultar contraseña' : 'Ver contraseña'" type="button">
          <mat-icon @fadeInUp *ngIf="visible2" svgIcon="mat:visibility"></mat-icon>
          <mat-icon @fadeInUp *ngIf="!visible2" svgIcon="mat:visibility_off"></mat-icon>
        </button>
        <mat-error>
          <ng-container *ngFor="let error of errors(newPassword)">
            {{ formErrors[error] }}<br>
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="grow" class="pb-2" *ngIf="isAdmin === false">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input formControlName="confirm_new_password" matInput [type]="inputType3" autocomplete="disabled">
        <button [disabled]="loading" (click)="manageIconPassword(3)" mat-icon-button matSuffix
          [matTooltip]="(inputType3 === 'text') ? 'Ocultar contraseña' : 'Ver contraseña'" type="button">
          <mat-icon @fadeInUp *ngIf="visible3" svgIcon="mat:visibility"></mat-icon>
          <mat-icon @fadeInUp *ngIf="!visible3" svgIcon="mat:visibility_off"></mat-icon>
        </button>
        <mat-error>
          <ng-container *ngFor="let error of errors(confirmNewPassword)">
            {{ formErrors[error] }}<br>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button [disabled]="loading" mat-button mat-dialog-close type="button">CERRAR</button>
  <button [disabled]="loading" mat-button type="button" (click)="actualizarPassword()" color="primary">GUARDAR
    CAMBIOS</button>
</mat-dialog-actions>
