<div class="flex items-center" mat-dialog-title>
  <h2 class="headline m-0 flex-auto">
    {{ titulo }}
  </h2>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="text-border"></mat-divider>

<mat-dialog-content class="flex flex-col">
  <form (ngSubmit)="$event.preventDefault()" [formGroup]="form" autocomplete="off">
    <div class="grid md:grid-cols-2 grid-cols-1 md:gap-x-3 gap-x-0">
      <mat-form-field class="sm:col-span-1 col-span-full">
        <mat-label>Rol</mat-label>
        <mat-select placeholder="Selecciona el rol" formControlName="role">
          @for (item of rolesData; track $index) {
          <mat-option [value]="item.role">
            {{ item.description }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="sm:col-span-1 col-span-full">
        <mat-label>Alias (opcional)</mat-label>
        <input type="text" cdkFocusInitial autocomplete="new-password" aria-autocomplete="none" formControlName="alias"
          matInput placeholder="Escribe un alias" />
      </mat-form-field>

      <mat-form-field class="sm:col-span-1 col-span-full">
        <mat-label>Usuario</mat-label>
        <input type="text" autocomplete="new-password" aria-autocomplete="none" formControlName="username" matInput
          placeholder="Escribe un nombre de usuario" />
      </mat-form-field>

      @if (data.user?.id) {
      <mat-form-field class="sm:col-span-1 col-span-full">
        <mat-label>Fecha Registro</mat-label>
        <input type="text" autocomplete="new-password" aria-autocomplete="none" [matDatepicker]="datepickerFC" matInput
          placeholder="dd/MM/yyyy" formControlName="createdAt" />
        <mat-datepicker-toggle [for]="datepickerFC" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #datepickerFC></mat-datepicker>
      </mat-form-field>
      }

      @if (isCreateMode() || form.get('password')?.value) {
      <mat-form-field class="sm:col-span-1 col-span-full">
        <mat-label>Contraseña</mat-label>
        <input type="text" autocomplete="new-password" aria-autocomplete="none" formControlName="password"
          placeholder="Escribe una contraseña" matInput />
      </mat-form-field>
      }
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex sm:flex-row flex-col sm:items-center justify-between gap-2 w-full px-3">
    <vex-cancel-button mat-dialog-close btnText="Cancelar" btnClasses="w-full sm:w-auto"></vex-cancel-button>
    <vex-action-button (actionBtnClicked)="saveData()" [btnText]="isCreateMode() ? 'Registrar' : 'Guardar cambios'"
      [btnDisabled]="loading || form.invalid" [btnLoading]="loading" btnColor="primary"
      btnClasses="w-full sm:w-auto"></vex-action-button>
  </div>
</mat-dialog-actions>
