<form (ngSubmit)="save()" [formGroup]="form" autocomplete="off">

  <div class="flex-row justify-start items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-1">{{ tituloForm }}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex-col">

    <div class="flex-col sm:flex-row sm:gap-10 gap-0">
      <mat-form-field class="mt-6 flex-1">
        <mat-label>Tipo recibo</mat-label>
        <mat-select formControlName="idTipoRecibo" required>
          <mat-option *ngFor="let tr of arrTiposRecibo" [value]="tr.idTipoRecibo">
            {{ tr.tipoRecibo }}
          </mat-option>
        </mat-select>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:receipt"></mat-icon>
        <mat-error *ngIf="form.get('idTipoRecibo').hasError('required')">Tipo recibo requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="sm:mt-6 sm:ml-6 flex-1">
        <mat-label>Mes</mat-label>
        <mat-select formControlName="mesRecibo" required>
          <mat-option *ngFor="let m of arrMeses" [value]="m.id">
            {{ m.mes | titlecase }}
          </mat-option>
        </mat-select>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:calendar_month"></mat-icon>
        <mat-error *ngIf="form.get('mesRecibo').hasError('required')">El mes es requerido
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex-col sm:flex-row sm:gap-10 gap-0">
      <mat-form-field class="mt-6 flex-1">
        <mat-label>Consumo Unitario</mat-label>
        <input formControlName="consumoUnitario" matInput placeholder="Ejm. 0.80" required>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:calculate"></mat-icon>
        <mat-error *ngIf="form.get('consumoUnitario').hasError('required')">El consumo unitario es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="sm:mt-6 sm:ml-6 flex-1">
        <mat-label>Importe</mat-label>
        <input formControlName="importe" matInput placeholder="Ejm: 210.50" required>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:attach_money"></mat-icon>
        <mat-error *ngIf="form.get('importe').hasError('required')">El importe es requerido
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex-col sm:flex-row sm:gap-10 gap-0">
      <mat-form-field class="mt-6 flex-1">
        <mat-label>Dirección</mat-label>
        <input formControlName="direccionRecibo" matInput placeholder="Ejm: Av. Lima 123" required>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:map"></mat-icon>
        <mat-error *ngIf="form.get('direccionRecibo').hasError('required')">La dirección es requerida
        </mat-error>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" mat-button type="submit"
      [ngClass]="form.invalid ? '' : 'bg-primary text-primary-contrast'">REGISTRAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" mat-button type="submit"
      [ngClass]="form.invalid ? '' : 'bg-primary text-primary-contrast'">ACTUALIZAR</button>
  </mat-dialog-actions>

</form>
