<div class="card">
  <div class="border-b py-4 px-6 flex items-center">
    <h2 class="m-0 title flex-auto">{{ title }}</h2>

    <button mat-icon-button type="button">
      <mat-icon class="text-secondary" svgIcon="mat:cloud_download"></mat-icon>
    </button>

    <button mat-icon-button type="button">
      <mat-icon class="text-secondary" svgIcon="mat:more_horiz"></mat-icon>
    </button>
  </div>

  <div class="pt-3 pb-1 pr-6">
    <div @fadeInUp *ngIf="loader === true" class="text-center text-secondary text-xl p-40">Cargando información...</div>
    <div @fadeInUp *ngIf="loader === false && series.length == 0" class="text-center text-secondary text-xl p-40">No hay
      información por mostrar</div>
    <vex-chart [hidden]="series.length == 0" [options]="options" [series]="series"></vex-chart>
  </div>
</div>
