<vex-page-layout>

  <vex-page-layout-header class="pb-16 flex-col justify-center items-start">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">{{ titulo }}</h1>
        <vex-breadcrumbs [crumbs]="breadcrumbsList"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

    <div class="card overflow-auto -mt-16">

      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex-row justify-start items-center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hide-xs">
          <span>{{ titulo }}</span>
        </h2>
        <div class="bg-card rounded-full border px-4 flex-row justify-start items-center">
          <mat-icon svgIcon="mat:search"></mat-icon>
          <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
            placeholder="Buscar..." type="search" [readonly]="loading" autocomplete="false">
        </div>
        <span class="flex-1"></span>
        <button (click)="registrarRecibo()" class="ml-4 bg-teal text-white" fxFlex="none" mat-icon-button
          matTooltip="Registrar recibo" type="button" [disabled]="loading">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <mat-progress-bar mode="indeterminate" *ngIf="loading === true"></mat-progress-bar>

      <div class="table-container">
        <table aria-hidden="true" @stagger [dataSource]="dataSource" class="w-full" mat-table matSort tableResponsive>
          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
              <th id *matHeaderCellDef class="uppercase" mat-header-cell>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                <span>{{ row[column.property] == '' ? '-' : row[column.property] }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="column.type === 'number'" [matColumnDef]="column.property">
              <th id *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                <span>S/. {{ row[column.property] | number: '.2-2' }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="column.type === 'badge'" [matColumnDef]="column.property">
              <th id *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                <span class="badge-mes px-2 py-1 rounded-full text-xs bg-teal-light text-teal">
                  {{ row[column.property] }}
                </span>
              </td>
            </ng-container>
            <ng-container *ngIf="column.type === 'url'" [matColumnDef]="column.property">
              <th id *matHeaderCellDef class="uppercase" mat-header-cell>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell style="cursor: pointer;">
                <mat-icon matTooltip="Ver recibo" class="text-red" *ngIf="row[column.property] != ''"
                  (click)="verArchivoPDF(row)" svgIcon="mat:picture_as_pdf"></mat-icon>
                <mat-icon matTooltip="Recibo no disponible" class="text-secondary" *ngIf="row[column.property] == null"
                  svgIcon="mat:picture_as_pdf"></mat-icon>
              </td>
            </ng-container>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th id *matHeaderCellDef mat-header-cell>ACCIONES</th>
            <td *matCellDef="let row" class="sm:w-10 w-auto text-secondary" mat-cell>
              <button class="text-accent btn-tel" (click)="actualizarRecibo(row)" mat-icon-button
                matTooltip="Editar recibo">
                <mat-icon svgIcon="mat:edit"></mat-icon>
              </button>
              <button class="btn-tel" (click)="actualizarArchivoRecibo(row)" mat-icon-button
                matTooltip="Actualizar recibo PDF">
                <mat-icon class="text-red" svgIcon="mat:attach_file"></mat-icon>
              </button>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp class="hover:bg-hover trans-ease-out" mat-row>
          </tr>
        </table>

        <div @fadeInUp *ngIf="textTable !== ''" class="p-5 w-full text-center">
          <span class="font-medium text-secondary">{{ textTable }}</span>
        </div>

        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0">
        </mat-paginator>
      </div>

    </div>

  </vex-page-layout-content>

</vex-page-layout>
