<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex-row justify-start items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-1">{{ tituloForm }}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex-col sm:flex-row sm:gap-10 gap-0">
      <div class="sm:my-6 sm:py-4 my-3 py-2 flex-1">
        <mat-checkbox color="primary" formControlName="isComponentePadre">¿Es componente padre?</mat-checkbox>
      </div>
      <mat-form-field @fadeInUp class="mt-6 flex-1" *ngIf="showHideComponentesPadre()">
        <mat-label>Seleccionar componente padre</mat-label>
        <mat-select formControlName="idComponentePadre">
          <mat-option *ngFor="let cp of componentesPadre" [value]="cp.idComponente"
            (click)="changeComponentePadre(cp.idComponente)">
            {{ cp.componente }}
          </mat-option>
        </mat-select>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:extension"></mat-icon>
        <mat-error *ngIf="form.get('idComponentePadre').hasError('required')">Componente padre requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex-col sm:flex-row sm:gap-10 gap-0">
      <mat-form-field class="flex-1">
        <mat-label>Componente</mat-label>
        <input cdkFocusInitial formControlName="componente" matInput placeholder="Ejm: Mantenimiento" required>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:extension"></mat-icon>
        <mat-error *ngIf="form.get('componente').hasError('required')">Componente requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label>Ruta</mat-label>
        <input formControlName="ruta" matInput placeholder="Ejm: /mantenimiento/componentes/lista" required>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:alt_route"></mat-icon>
        <mat-error *ngIf="form.get('ruta').hasError('required')">Ruta requerida</mat-error>
      </mat-form-field>

    </div>
    <div class="flex-col sm:flex-row sm:gap-10 gap-0">
      <mat-form-field class="flex-1">
        <mat-label>Icono</mat-label>
        <input formControlName="icono" matInput placeholder="Ejm: edit (ver 'Material Icons')" required>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:apps"></mat-icon>
        <mat-error *ngIf="form.get('icono').hasError('required')">Icono requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label>Orden</mat-label>
        <input formControlName="orden" matInput placeholder="0" required>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:numbers"></mat-icon>
        <mat-error *ngIf="form.get('orden').hasError('required')">Orden requerido</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="w-full">
      <mat-label>Descripción (opcional)</mat-label>
      <textarea formControlName="descripcion" matInput
        placeholder="Escribir una breve descripción del componente"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" mat-button type="submit"
      [ngClass]="form.invalid ? '' : 'bg-primary text-primary-contrast'">REGISTRAR</button>
    <button fxFlex.xs="auto" fxFlex="none" [disabled]="form.invalid" *ngIf="isUpdateMode()" mat-button type="submit"
      [ngClass]="form.invalid ? '' : 'bg-primary text-primary-contrast'">ACTUALIZAR</button>
  </mat-dialog-actions>
</form>
