<div class="w-full h-full bg-pattern flex-col justify-center items-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">

    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div class="p-6 flex-col justify-center items-center">
      <div class="fill-current text-center">
        <img alt="img-login" class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center">
      <h2 class="title">¡Bienvenido!</h2>
      <h4 class="body-2 text-secondary">Inicia sesión con tus credenciales</h4>
    </div>

    <div [formGroup]="form" class="p-gutter flex-col gap-10">
      <div class="flex-col">
        <mat-form-field class="flex-grow">
          <mat-label>Usuario</mat-label>
          <input formControlName="usuario" matInput>
          <mat-error>
            <ng-container *ngFor="let error of errors(usuario)">
              {{ usuarioFormErrors[error] }}<br>
            </ng-container>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-grow">
          <mat-label>Contraseña</mat-label>
          <input [type]="inputType" formControlName="password" matInput>
          <button [disabled]="loading" (click)="verOcultarPassword()" mat-icon-button matSuffix
            [matTooltip]="(inputType === 'text') ? 'Ocultar contraseña' : 'Ver contraseña'" type="button">
            <mat-icon @fadeInUp *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon @fadeInUp *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-error>
            <ng-container *ngFor="let error of errors(password)">
              {{ passwordFormErrors[error] }}<br>
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <button class="w-full" [disabled]="loading" (click)="iniciarSesion()" color="primary" mat-raised-button
        type="button">
        ENTRAR
      </button>
      <div class="flex-row justify-end items-center">
        <a class="text-secondary caption cursor-pointer" (click)="restorePassword()">¿Olvidaste tu contraseña?</a>
      </div>
    </div>

  </div>
</div>
