<div class="w-full h-full bg-pattern !bg-cover !bg-no-repeat flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md shadow-2xl">
    @if (loading) {
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    }
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-[250px]" src="assets/img/illustrations/logo.png" alt="login" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Bienvenido</h2>
      <h4 class="body-2 text-secondary m-0">
        Inicia sesión con tus credenciales
      </h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Usuario</mat-label>
          <input formControlName="username" placeholder="Escribe tu usuario" matInput required />
          @if (form.get('username')?.hasError('required')) {
          <mat-error>Usuario requerido</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input [type]="inputType" formControlName="password" placeholder="Escribe tu contraseña" matInput required />
          <button (click)="toggleVisibility()" mat-icon-button matIconSuffix [disabled]="loading"
            [matTooltip]="visible ? 'Ocultar contraseña' : 'Ver contraseña'" type="button" aria-hidden="false">
            <mat-icon class="hover:text-primary-600 transition"
              [svgIcon]="!visible ? 'mat:visibility' : 'mat:visibility_off'"></mat-icon>
          </button>
          <mat-error *ngIf="form.get('password')?.hasError('required')">Contraseña requerida</mat-error>
        </mat-form-field>
      </div>

      <vex-action-button (actionBtnClicked)="login()" [btnDisabled]="loading || form.invalid" [btnLoading]="loading"
        btnColor="primary" btnText="Iniciar sesión" btnClasses="w-full"></vex-action-button>
    </div>
  </div>
</div>
