@import "simplebar/dist/simplebar.css";
@import "highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --vex-sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/* FIXME: CUSTOM MAT-FORMFIELD STYLES, UNCOMMENT TO APPLY */
/* .mdc-text-field {
  .mat-mdc-form-field-flex {
    .mdc-notched-outline__leading {
      border-width: 1.8px !important;
      background: transparent !important;
    }

    .mdc-notched-outline__notch {
      border-width: 1.8px !important;
      background: transparent !important;
    }

    .mdc-notched-outline__trailing {
      border-width: 1.8px !important;
      background: transparent !important;
    }
  }
} */

/* FIXME: CUSTOM DISABLED MAT-FORMFIELD STYLES, UNCOMMENT TO APPLY */
/* .mdc-text-field--disabled {
  .mat-mdc-form-field-flex {
    .mdc-notched-outline__leading {
      border-width: 1px !important;
      border-color: #201a1b25 !important;
      background: #ebebeb5e !important;
    }

    .mdc-notched-outline__notch {
      border-width: 1px !important;
      border-color: #201a1b25 !important;
      border-left: transparent !important;
      background: #ebebeb5e !important;
    }

    .mdc-notched-outline__trailing {
      border-width: 1px !important;
      border-color: #201a1b25 !important;
      background: #ebebeb5e !important;
    }
  }

  .mdc-floating-label {
    color: #201a1bb6 !important;
    font-weight: 500 !important;
  }

  .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mdc-text-field__input:not(.input-green, .input-red) {
    color: #080707 !important;
  }

  .mat-mdc-select {
    color: #080707 !important;
  }
} */

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
html {
  // --vex-color-primary: blue;
  // --vex-color-primary-contrast: white;

  // --vex-color-accent: yellow;
  // --vex-color-accent-contrast: black;

  // --vex-color-warn: yellow;
  // --vex-color-warn-contrast: black;
}
